<!-- Modals -->
   <!-- Logout Modal -->
   <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Logout</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="/logout" method="GET">
         <h3>
            Logout Account?
         </h3> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Logout</button>
        </div>
    </form>
      </div>
    </div>
  </div>
<!-- ariston -->
<script src="assets/ariston/js/jquery-3.3.1.min.js"></script>
<script src="assets/ariston/js/jquery-ui.js"></script>
<script src="assets/ariston/js/popper.min.js"></script>
<script src="assets/ariston/js/bootstrap.min.js"></script>
<script src="assets/ariston/js/owl.carousel.min.js"></script>
<script src="assets/ariston/js/jquery.magnific-popup.min.js"></script>
<script src="assets/ariston/js/aos.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
<script src="assets/ariston/js/main.js"></script>