<footer class="site-footer border-top">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">Calapan City Orienal Mindoro</li>
              <li class="phone"><a href="tel://23923929210">+63 123 4567 890 </a></li>
              <li class="email">group3@appdev.com</li>
            </ul>
          </div>
          <div class="block-7 ">
            <form action="#" method="post">
              <label for="email_subscribe" class="footer-heading">Subscribe</label>
              <div class="form-group">
                <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                <input type="submit" class="btn btn-sm btn-primary" value="Send">
              </div>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
  </footer>