<nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu js-clone-nav d-none d-md-block">
        <li class="has-children">
          <a href="/home">Home</a>
        </li>
       
        <li class="active"><a href="/shop">Shop</a></li>
        <li><a href="#">Catalogue</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>