
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include('partials/start')  %>

    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            max-width: 400px;
            margin-top: 50px;
        }
        .btn-primary {
            background-color: #7971EA;
            border-color: #7971EA;
        }
        .btn-primary:hover {
            background-color: #5a59c3;
            border-color: #5a59c3;
        }
        a {
            color: #7971EA;
        }
        a:hover {
            color: #5a59c3;
        }
    </style>

</head>
<body>
   <%- include('partials/pre-navbar') %>
    <div class="container shadow p-4 bg-white rounded">
        <h2 class="text-center mb-4">Login</h2>
        <form action="/authenticate" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group text-right">
                <a href="forgot_password.html">Forgot Password?</a>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>

</body>
</html>
